VITE_OPEN_FNR_SERVICE_HOST=127.0.0.1
VITE_OPEN_FNR_API_PORT=8000
VITE_OPEN_FNR_AIRFLOW_PORT=18088
VITE_OPEN_FNR_FLOWABLE_PORT=18080
VITE_OPEN_FNR_CLICKHOUSE_HTTP_PORT=18123
VITE_OPEN_FNR_OPENSEARCH_DASHBOARDS_PORT=15601
VITE_OPEN_FNR_SUPERSET_PORT=18089
