OPEN_FNR_PROJECT=open-fnr-test

POSTGRES_PORT=25432
POSTGRES_DB=open_fnr
POSTGRES_USER=open_fnr
POSTGRES_PASSWORD=open_fnr_test

CLICKHOUSE_HTTP_PORT=28123
CLICKHOUSE_NATIVE_PORT=29000
CLICKHOUSE_USER=open_fnr
CLICKHOUSE_PASSWORD=open_fnr_test
CLICKHOUSE_DB=open_fnr

FLOWABLE_PORT=28080

AIRFLOW_PORT=28088
AIRFLOW_USER=admin
AIRFLOW_PASSWORD=admin

OPENSEARCH_PORT=29200
OPENSEARCH_DASHBOARDS_PORT=25601
OPENSEARCH_INITIAL_ADMIN_PASSWORD=OpenFNR_test_123!

SUPERSET_PORT=28089
