OPEN_FNR_PROJECT=open-fnr-stage

POSTGRES_PORT=35432
POSTGRES_DB=open_fnr
POSTGRES_USER=open_fnr
POSTGRES_PASSWORD=open_fnr_stage

CLICKHOUSE_HTTP_PORT=38123
CLICKHOUSE_NATIVE_PORT=39000
CLICKHOUSE_USER=open_fnr
CLICKHOUSE_PASSWORD=open_fnr_stage
CLICKHOUSE_DB=open_fnr

FLOWABLE_PORT=38080

AIRFLOW_PORT=38088
AIRFLOW_USER=admin
AIRFLOW_PASSWORD=admin

OPENSEARCH_PORT=39200
OPENSEARCH_DASHBOARDS_PORT=35601
OPENSEARCH_INITIAL_ADMIN_PASSWORD=OpenFNR_stage_123!

SUPERSET_PORT=38089
